.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

  a {
      color: black;
      text-decoration: none;
  }

  i {
    display: flex;
    justify-content: flex-left;
    color: white;
    margin: 10px;
    padding: 35px 100px 0;
    animation: 2.5s fadein 0.5s forwards;
    opacity: 0;
  }

  
  .particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }